[submodule "libs/MachineScientist"]
	path = libs/MachineScientist
	url = https://bitbucket.org/rguimera/machine-scientist.git
	branch = no_degeneracy
[submodule "libs/DeepSymbolicOptimisation"]
	path = libs/DeepSymbolicOptimisation
	url = git@github.com:jamesbut/deep-symbolic-optimization.git
[submodule "libs/SRBench"]
	path = libs/SRBench
	url = git@github.com:cavalab/srbench.git
[submodule "libs/pmlb"]
	path = libs/pmlb
	url = git@github.com:EpistasisLab/pmlb.git
